$defaultDuration: 150ms;
$defaultEasing: ease-in-out;

//
// single property transitions
//
.transition-bg {
    transition: background-color $defaultDuration $defaultEasing;
}

.transition-color {
    transition: color $defaultDuration $defaultEasing;
}

.transition-font {
    transition: font-size $defaultDuration $defaultEasing;
}

.transition-margin {
    transition: margin $defaultDuration $defaultEasing;
}

.transition-opacity {
    transition: opacity $defaultDuration $defaultEasing;
}

.transition-shadow {
    transition: box-shadow $defaultDuration $defaultEasing;
}

.transition-padding {
    transition: padding $defaultDuration $defaultEasing;
}

.transition-transform {
    transition: transform $defaultDuration $defaultEasing;
}

//
// multiple property transitions
//
.transition-bg.transition-margin {
    transition: 
        background-color $defaultDuration $defaultEasing,
        margin $defaultDuration $defaultEasing;
}

.transition-font.transition-margin {
    transition: 
        font-size $defaultDuration $defaultEasing,
        margin $defaultDuration $defaultEasing;
}

.transition-font.transition-margin.transition-opacity {
    transition: 
        font-size $defaultDuration $defaultEasing,
        margin $defaultDuration $defaultEasing,
        opacity $defaultDuration $defaultEasing;
}

.transition-margin.transition-opacity {
    transition: 
        margin $defaultDuration $defaultEasing,
        opacity $defaultDuration $defaultEasing;
}

.transition-opacity.transition-transform {
    transition: 
        opacity $defaultDuration $defaultEasing,
        transform $defaultDuration $defaultEasing;
}