*, 
*:before, 
*:after {
    box-sizing: border-box;
}

a {
    @apply text-red-light;
    text-decoration: none;
    transition: color 150ms ease-in-out;

    &:hover {
        @apply text-red;
        text-decoration: underline;
    }

    &.heading {
        @apply text-grey-darkest;

        &:hover {
            @apply no-underline text-red;
        }
    }
}

p {
    @apply leading-normal text-lg;
}