//
// Layout and breakpoint widths
//
$layout-margin-mobile: 12px;
$layout-margin-tablet: 20px;
$layout-width: 1280px;
$breakpoints: (
    tablet: 'min-width: 768px',
    desktop: 'min-width: 1024px',
);

//
// Colors
//
$font-color: #333;
$link-color: #F46A65;

//
// Spinners
//
$spinner-default-color: #f00;
