<main class="page blog blog-index">
    <v-ribbon></v-ribbon>
    <div class="inner" v-infinite-scroll:100="onLoadMorePosts">
        <article v-for="post in posts" class="content link">
            <a v-link="{ name: 'blog-show', params: { slug: post.slug }}">
                <h2 class="title">{{ post.title }}</h2>
                <p>{{{ post.excerpt }}}</p>
                <footer>
                    <time datetime="{{ post.published_at }}">{{ post.published_at | moment 'MMM DD, YYYY' }}</time>
                </footer>
            </a>
        </article>
    </div>
</main>
