.v-typewriter {
    border-right: 2px solid transparent;
    padding-right: 5px;

    &.caret {
        animation: blinking 1.4s infinite;

        @keyframes blinking {
            from, to { border-color: transparent }
            20% { border-color: transparent }
            30% { border-color: #ccc }
            70% { border-color: #ccc }
            80% { border-color: transparent }
        }
    }
}
