//
// pages
//
.page {

    .inner {
        @include layout-inner();

        &.content {
            border-bottom: 2px solid rgba(0, 0, 0, 0.15);
            background-color: #fff;
            margin: $layout-margin;
            opacity: 0.97;
            @include bp-prop(font-size, 16px, 20px, 24px);
            @include transition(font-size);

            @include bp('min-width: #{ $layout-width + ($layout-margin * 2) }') {
                margin-left: auto;
                margin-right: auto;
            }
        }

        .title {
            border-bottom: 1px solid #ddd;
            padding-bottom: $layout-margin;
        }
    }
}
