//
// Blog
//
.page.blog {

    article {
        footer {
            color: #777;
            text-align: right;
            @include bp-prop(font-size, 14px, 16px, 18px);
            @include transition(font-size);
        }
    }

    .v-spinner {
        padding: 50px 0;
        text-align: center;
    }
}
