.page.cube-page {
    $sticker-size: 63px;

    .content {
        min-height: 320px;
        @include valign-parent();
    }

    .cube-outer {
        left: 50%;
        top: 50%;
        perspective: 2500px;
        position: absolute;
    }

    .cube-inner {
        perspective: inherit;
        transform: rotateX(-23deg);
        transform-style: preserve-3d;
    }

    .cube-sticker {
        border: 1px solid;
        border-color: rgba(0, 0, 0, 0.5);
        border-radius: 4px;
        height: $sticker-size;
        width: $sticker-size;

        position: absolute;
        top: calc(50% - #{ $sticker-size / 2});
        left: calc(50% - #{ $sticker-size / 2});
        transition-property: transform;
        transition-duration: inherit;
        transition-timing-function: linear;
    }
}
