.page {
    &.splash {
        align-items: center;
        bottom: 0;
        display: flex;
        justify-content: center;
        position: absolute;
        top: 0;
        width: 100%;
    }
}
