$code-blue: #81a2be;
$code-green: #b5bd68;
$code-orange: #de935f;
$code-purple: #b294bb;
$code-red: #cc6666;
$code-teal: #8abeb7;
$code-white: #c5c8c6;
$code-yellow: #f0c674;
$code-gray: #969896;

pre.prism {
    background-color: rgba(#1d1f21, 0.93);
    padding: 10px 20px;
    border-radius: 3px;
}

code[class*="language-"],
pre[class*="language-"] {
    color: $code-white;
    direction: ltr;
    font-family: 'Source Code Pro', monospace;
    font-size: 15px;
    font-weight: normal;
    hyphens: none;
    line-height: 1.6em;
    tab-size: 4;
    text-align: left;
    text-shadow: none;
    white-space: pre;
    word-break: normal;
    word-spacing: normal;
    word-wrap: normal;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
    color: $code-gray;
}

.token.punctuation {
    color: $code-white;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
    color: $code-orange;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
    color: $code-green;
}

.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
    color: $code-green;
}

.token.atrule,
.token.attr-value,
.token.keyword {
    color: $code-teal;
}

.token.function {
    color: $code-blue;
}

.token.regex,
.token.important,
.token.variable {
    color: $code-red;
}

.token.important,
.token.bold {
    font-weight: bold;
}

.token.italic {
    font-style: italic;
}

.token.entity {
    cursor: help;
}

//
// Javascript
//
code.language-js,
code.language-javascript {
    .token.keyword { color: #b294bb }
}

//
// Css / Scss
//
code.language-css,
code.language-scss {
    .token.function { color: $code-teal }
    .token.keyword { color: $code-purple }
    .token.property { color: $code-white }
    .token.selector { color: $code-orange }
}

//
// Html
//
code.language-html {
    .token.tag { color: $code-red }
    .token.attr-name { color: $code-orange }
    .token.attr-value {
        color: $code-green;
    }
}

//
// PHP
//
code.language-php {
    .token.control { color: $code-purple }
}
