//
// Container elements
//
html {
    font-family: 'Lato', sans-serif;
}

body {
    color: $font-color;
    background-color: $bg-color;
}

.inner, .page {
    max-width: $layout-inner-width;
    margin: 0 auto;
}

.page {
    padding: $layout-padding;
}
