//
// Container elements
//
html {
    font-family: 'Lato', sans-serif;
}

body {
    color: $font-color;
    background-color: $bg-color;
}

.inner, .page {
    max-width: $layout-inner-width;
    margin: 0 auto;
}

.page {
    padding: $layout-padding;
}

.content {
    background: #fff;
    border-bottom: $content-border;
    opacity: 0.9;
    padding: 12px;
    @include bp-prop(padding, $content-padding-mobile, $content-padding-tablet);
    @include transition(padding);
    &:not(:last-of-type) {  margin-bottom: $layout-padding }

    &.btn {
        padding: 0;

        a {
            display: block;
            @include bp-prop(padding, $content-padding-mobile, $content-padding-tablet);
            @include transition(padding);
        }
    }
}
