//
// Headers
//
h1, h2, h3, h4, h5 {
    font-weight: 300;
    margin: 0;
    padding: 0;
    @include transition(font-size);
}

h1 { @include bp-prop(font-size, 26px, 30px, 34px) }
h2 { @include bp-prop(font-size, 24px, 28px, 32px) }
h3 { @include bp-prop(font-size, 22px, 26px, 30px) }
h4 { @include bp-prop(font-size, 20px, 24px, 32px) }
h5 { @include bp-prop(font-size, 18px, 22px, 30px) }

//
// Paragraphs
//
p {
    font-weight: 300;
    margin: 0;
    @include bp-prop(font-size, 18px, 20px, 22px);
}
