input,
textarea {
    border-radius: 3px;
    border: 1px solid #ccc;
    font-size: $form-font-size;
    padding: 0 $form-element-padding-horizontal;
    width: 100%;
}

input {
    height: $form-element-height;
}

textarea {
    height: $form-element-height * 3;
    padding: 10px $form-element-padding-horizontal;
}
