h1,
h2,
h3,
h4,
h5 {
    font-weight: 300;
    margin: 0;
    @include transition(font-size);
}

h1 {
    @include bp-prop('font-size, line-height', 34px, 38px, 42px);
}

h2 {
    @include bp-prop('font-size, line-height', 22px, 28px, 32px);
}

h3 {
    font-size: 24px;
    line-height: 24px;
}

h4 {
    font-size: 18px;
    line-height: 18px;
}
