html {
    box-sizing: border-box;
    height: 100%;

    *,
    *:before,
    *:after {
        box-sizing: inherit;
    }
}

body {
    background-color: #fafafa;
    color: #333;
    min-height: 100%;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 14px;
}
