//
// Layout
//
$layout-inner-horizontal-padding: 20px;
$layout-inner-vertical-padding: 20px;
$layout-inner-padding: $layout-inner-vertical-padding $layout-inner-horizontal-padding;
$layout-inner-width: 1200px;

$grid-padding-mobile: 10px;
$grid-padding-large-phone: 10px;
$grid-padding-tablet: 20px;
$grid-padding-desktop: 20px;
